<div class="content">
    <hr>
    <h2>Relatorios</h2>
    <hr>
  <div class="row">
    
    <!--incio primeira linha-->
    <div class=" col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 16rem;">
            <div class="card-header"><h2 class="card-title"><i class="far fa-edit 5x"></i>Livros</h2></div>
          </div>
          
    </div>
    <div class=" col-md-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 16rem;">
            <div class="card-body">
              <h2 class="card-title"><i class="fas fa-users"></i> Clientes</h2>
              <p class="card-text"></p>
            </div>
          </div>
    </div>
    <div class=" col-md-4">
        <div class="card text-white bg-success mb-3" style="max-width: 16rem;">
            <div class="card-body">
              <h2 class="card-title"><i class="fas fa-truck-loading"></i> Vendas</h2>
              <p class="card-text"></p>
            </div>
          </div>
    </div>

    
  </div>
</div>





