
<div class="col-md-12">
        <br>
        <div class="row">
          <div class="col-md-4"><h3>Lista de Clientes</h3></div>
          <div class="col-md-6 ">
           <form class="form-inline my-2 my-lg-0">
             <input class="form-control mr-sm-2 col-md-4 " type="search" placeholder="Pesquisar">
             <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
           </form>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-sm position-relative" routerLink="novo">
             <i class="fas fa-book"></i> Adicionar 
           </button></div>
            
        </div>
        <hr>
        <div class="table-responsive table-light">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Curso</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th >1</th>
                <td>Cássio Klebio Pereira Lins</td>
                <td>Sistema de Infromação</td>
                <td><i class="far fa-edit"></i></td>
                <td><i class="fas fa-print"></i></td>
                <td><i class="fas fa-trash"></i></td>
                
              </tr>
              <tr>
                <th >2</th>
                <td>Fulano fulano fulano fulano</td>
                <td>Farmacia</td>
                <td><i class="far fa-edit"></i></td>
                <td><i class="fas fa-print"></i></td>
                <td><i class="fas fa-trash"></i></td>
                
              </tr>
              <tr>
                <th >3</th>
                <td>Fulano fulano fulano fulano</td>
                <td>Medicina</td>
                <td><i class="far fa-edit"></i></td>
                <td><i class="fas fa-print"></i></td>
                <td><i class="fas fa-trash"></i></td>
                
              </tr>
              <tr>
                <th >4</th>
                <td>Fulano fulano fulano fulano</td>
                <td>Jogos Digitais</td>
                <td><i class="far fa-edit"></i></td>
                <td><i class="fas fa-print"></i></td>
                <td><i class="fas fa-trash"></i></td>
                
              </tr>
              <tr>
                <th >5</th>
                <td>Fulano fulano fulano fulano</td>
                <td>Sistema de Infromação</td>
                <td><i class="far fa-edit"></i></td>
                <td><i class="fas fa-print"></i></td>
                <td><i class="fas fa-trash"></i></td>
                
              </tr>
              <tr>
                <th >6</th>
                <td>Fulano fulano fulano fulano</td>
                <td>Direito</td>
                <td><i class="far fa-edit"></i></td>
                <td><i class="fas fa-print"></i></td>
                <td><i class="fas fa-trash"></i></td>
                
              </tr>
              <tr>
                <th >7</th>
                <td>Fulano fulano fulano fulano</td>
                <td>Direito</td>
                <td><i class="far fa-edit"></i></td>
                <td><i class="fas fa-print"></i></td>
                <td><i class="fas fa-trash"></i></td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>