<div class="col-md-12">
  <br>
  <div class="row">
     
     <div class="col-md-4"><h3>Lista de Livros</h3></div>
     <div class="col-md-6 ">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
      </form>
     </div>
     <div class="col-md-2">
       <button type="button" class="btn btn-primary btn-sm position-relative" routerLink="novo">
        <i class="fas fa-book"></i> Adicionar 
      </button></div>
  </div>    
  <hr>
  <div class="table-responsive table-light">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Foto</th>
          <th scope="col">Titulo do Livro</th>
          <th scope="col">Preço</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th >1</th>
          <td><figure>
            <img class="materialboxed"  src="/src/assets/livros/livro01.jpg" width="40px" height="40px">
       </figure></td>
          <td>Roube Como Um Artista. O Diário (Português) Capa Comum – 8 nov 2015</td>
          <td>R$ 25.00</td>
          <td><i class="far fa-edit"></i></td>
          <td><i class="fas fa-print"></i></td>
          <td><i class="fas fa-trash"></i></td>
          
        </tr>
        <tr>
          <th >2</th>
          <td><figure>
            <img class="materialboxed"  src="/src/assets/livros/Informática.jpg" width="40px" height="40px">
       </figure></td>
          <td>Informática Para Concursos. Teoria e Questões - Série Provas & Concursos 1 dez 2016</td>
          <td>R$ 94.00</td>
          <td><i class="far fa-edit"></i></td>
          <td><i class="fas fa-print"></i></td>
          <td><i class="fas fa-trash"></i></td>
          
        </tr>
        <tr>
          <th >3</th>
          <td><figure>
            <img class="materialboxed"  src="/src/assets/livros/JavaScript.jpg" width="40px" height="40px">
       </figure></td>
          <td>JavaScript and HTML5 Now 30 jun 2012</td>
          <td>R$ 67.00</td>
          <td><i class="far fa-edit"></i></td>
          <td><i class="fas fa-print"></i></td>
          <td><i class="fas fa-trash"></i></td>
        </tr>
        <tr>
          <th >4</th>
          <td><figure>
            <img class="materialboxed"  src="/src/assets/livros/java 8.jpg" width="40px" height="40px">
       </figure></td>
          <td>Java 8 Preview Sampler</td>
          <td>R$ 71.00</td>
          <td><i class="far fa-edit"></i></td>
          <td><i class="fas fa-print"></i></td>
          <td><i class="fas fa-trash"></i></td>
        </tr>
        <tr>
          <th >5</th>
          <td><figure>
            <img class="materialboxed"  src="/src/assets/livros/wordpress.jpg" width="40px" height="40px">
       </figure></td>
          <td>Manual do Usuário Wordpress 2 ago 2015</td>
          <td>R$ 109.00</td>
          <td><i class="far fa-edit"></i></td>
          <td><i class="fas fa-print"></i></td>
          <td><i class="fas fa-trash"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>