<div class="col-md-12">
  <br>
  <div class="row">
     
     <div class="col-md-4"><h3>Lista de Livros</h3></div>
     <div class="col-md-6 ">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
      </form>
     </div>
     <div class="col-md-2">
       <button type="button" class="btn btn-primary btn-sm position-relative" routerLink="novo">
        <i class="fas fa-book"></i> Adicionar 
      </button></div>
  </div>    
  <hr>
  <div class="table-responsive table-light">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Foto</th>
          <th scope="col">Titulo do Livro</th>
          <th scope="col">Preço</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
          <th >{{livro.id}}</th>
          <td><figure>
            <img class="materialboxed"  src="{{livro.foto}}" width="40px" height="40px">
       </figure></td>
          <td>{{livro.titulo | uppercase}}</td>
          <td>{{livro.preco | currency:'BRL': true }}</td>
          <td><button type="button" class="btn btn-outline-primary btn-sm"><i class="far fa-edit"></i></button> </td>
          <td><button type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-print"></i></button></td>
          <td><button type="button" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></button></td>
          
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>