<div class="content">
    <hr>
    <h2>Menu Livros</h2>
    <hr>
  <div class="row">
    
    <!--incio primeira linha-->
    <div class=" col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 16rem;">
            <div class="card-body" routerLink="novo">
              <h2 class="card-title"><i class="far fa-edit 5x"></i>Novo</h2>
              
            </div>
          </div>
    </div>
    <div class=" col-md-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 16rem;">
            <div class="card-body" routerLink="lista">
              <h2 class="card-title"><i class="fas fa-list-ul 5x"></i>Lista</h2>
              <p class="card-text"></p>
            </div>
          </div>
    </div>
    <div class=" col-md-4">
        <div class="card text-white bg-success mb-3" style="max-width: 16rem;">
            <div class="card-body" >
              <h2 class="card-title"><i class="fas fa-search"></i>Pesquisar</h2>
              <p class="card-text"></p>
            </div>
          </div>
    </div>
    
  </div>
</div>

  





