<div class="container">
    <h2>Detalhe do Livro</h2>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <figure>
            <img class="materialboxed"  src="/src/assets/livros/java 8.jpg" width="auto" height="auto">
          <figcaption></figcaption>
  
        </figure>
      </div>
      <div class="col-md-8">
          <div class="4"><h4>Nome do Livro: Java 8</h4></div>
          <div class="4"><small>Autor:  Edward Finegan</small> </div>
          <div class="4"><small>Editora: Bookman</small></div>
          <div class="4">R$ 33.00 </div>
          <div class="4">Disponivel</div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <h4>Descrição do Livro</h4>
            <hr>
            Guia oficial para o exame de entrada na certificação Oracle 
            Certified Associate Java SE 8 Programmer I. Em cada capítulo você encontrará exercícios desafiadores, um resumo para a certificação, uma revisão rápida e um teste simulado para reforçar conceitos apresentados. Este valioso recurso vai ajudá-lo a passar no exame e também será essencial no dia a dia de trabalho.
        </div>
      </div>
    </div>
  </div>