<nav *ngIf="mostrarMenu"  class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fab fa-accusoft 7x"></i>Mais<span>Venda</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active">
          <a class="nav-link" routerLink="livros">Livros <span class="sr-only">(current)</span></a>
        </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="clientes">Clientes <span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="vendas">Vendas <span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="relatorios">Relatorios <span class="sr-only">(current)</span></a>
      </li>
      
        
    </ul>
    <ul class="navbar-nav">
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user fa 5x"> </i>Mome do usuario logado
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><i class="fas fa-cogs"></i>..Perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"> <i class="fas fa-sign-out-alt"></i>Sair</a>
        </div>
      </li>
    </ul>  
    
    
  </div>
  
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>