<div class="container">
  <h3>Cadastro de Cliente</h3>
  <hr>  
<div class="row">
  
  <div class="col-md-12">
      <form [formGroup]="formularioClientes" (ngSubmit)="onSubimit()">
          <div class="form-row ">
              <div class="form-group col-md-12" [ngClass]="aplicaCssErro('inputNome')">
                  <label for="inputNome">Nome</label>
                  <input type="text" class="form-control" id="inputNome" formControlName="inputNome">
                  
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="inputDataNascimento">Data de Nascimento</label>
                  <input type="text" class="form-control" id="inputDataNascimento"formControlName="inputDataNascimento">
                  
              </div>
              <div class=" col-md-6">
                <label for="inputCPF">CPF</label>
                <input type="text" class="form-control" id="inputCPF" formControlName="inputCPF">
              </div>
          </div> 
          <div class="form-row">
                  <div class=" col-md-6">
                    <label for="inputMatricula">Matricula</label>
                    <input type="text" class="form-control" id="inputMatricula" formControlName="inputMatricula">
                  </div>
                  <div class=" col-md-6">
                    <label for="inputPeriodo">Período</label>
                    <input type="text" class="form-control" id="inputPeriodo" formControlName="inputPeriodo">
                  </div>
          </div>
          <div class="form-row">
                  <div class=" col-md-6">
                    <label for="inputTelefone1">Telefone 1</label>
                    <input type="text" class="form-control" id="inputTelefone1" formControlName="inputTelefone1">
                  </div>
                  <div class=" col-md-6">
                    <label for="inputTelefone2">Telefone 2</label>
                    <input type="text" class="form-control" id="inputTelefone2" formControlName="inputTelefone2">
                  </div>
          </div>
          <hr class="my-4">
          <h4>Endereço</h4>
          <hr class="my-4">
          <div class="form-row">
              <div class=" col-md-3">
                  <label for="inputCep">CEP</label>
                  <input type="text" class="form-control" id="inputCep" formControlName="inputCep">
                </div>
                  <div class=" col-md-9">
                    <label for="inputRua">Rua</label>
                    <input type="text" class="form-control" id="inputRua" formControlName="inputRua">
                  </div>
          </div>
          <div class="form-row">
                  <div class=" col-md-6">
                          <label for="estado">Estado</label>
                          <select id="estado" class="form-control" formControlName="estado">
                            <option selected> </option>
                            <option *ngFor="let estado of estados" [value]="estado.sigla">{{estado.nome}}</option>
                            
                          </select>
                  </div>
                  <div class=" col-md-6">
                    <label for="inputCidade">Cidade</label>
                    <select id="inputCidade" class="form-control" formControlName="inputCidade">
                             <option selected> </option>
                             <option  *ngFor = "let cidade of cidades"  [value] ="cidade.nome "> {{cidade.nome}} </option>
                              
                    </select>
            </div>
          </div>
          <div class="form-row">
            <div class=" col-md-3">
              <label for="inputBairro">Bairro</label>
              <input type="text" class="form-control" id="inputBairro" formControlName="inputBairro">
            </div>
            <div class=" col-md-9">
              <label for="inputPontoReferencia">Ponto de Referencia</label>
              <input type="text" class="form-control" id="inputPontoReferencia" formControlName="inputPontoReferencia">
            </div>
    </div>
    <br>
          <div class="form-row">
                  <div class=" col-md-6">
                      <button type="submit" class="btn btn-primary"[disabled]="formularioClientes.invalid"><i class="fas fa-sign-out-alt 3x"></i>Salvar</button>
                  </div>
          </div>
      </form>
  </div>
</div>

</div>

