<div class="content">
    <div class="row">
      <!--incio primeira linha-->
      <div class=" col-md-4">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
              <div class="card-body">
                  <i class="fas fa-user-lock fa-5x"></i>
                <h5 class="card-title"><i class="fas fa-user-lock fa-5x"></i><br>Livros</h5>
                <p class="card-text"></p>
              </div>
            </div>
      </div>
      <div class=" col-md-4">
          <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Clientes</h5>
                <p class="card-text"></p>
              </div>
            </div>
      </div>
      <div class=" col-md-4">
          <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h5 class="card-title">Fornecedor</h5>
                <p class="card-text"></p>
              </div>
            </div>
      </div>
      <!--incio segunda linha-->
      <!--incio primeira linha-->
      <div class=" col-md-4"></div>
      <div class=" col-md-4"></div>
      <div class=" col-md-4"></div>
      <!--incio segunda linha-->
    </div>
</div>





<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Danger card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Warning card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
